// light
$bg-color: #ffffff;

$bg-color-header: #226666;
$tx-color-header: #669999;

$bg-color-select: #003333;
$tx-color-select: #407f7f;

$bg-color-main: #2e4372;
$tx-color-main: #7887ab;

$bg-color-aside: #7887ab;
$tx-color-aside: #061639;

$bg-color-widget: #aa8439;
$tx-color-widget: #ffe3aa;

$bg-color-footer: #aa6c39;
$tx-color-footer: #ffd0aa;

// -----------------------------------
// dark
$bg-color: #3d3d3d;

$bg-color-header: #669999;
$tx-color-header: #226666;

$bg-color-select: #407f7f;
$tx-color-select: #003333;

$bg-color-main: #7887ab;
$tx-color-main: #2e4372;

$bg-color-aside: #061639;
$tx-color-aside: #7887ab;

$bg-color-widget: #ffe3aa;
$tx-color-widget: #aa8439;

$bg-color-footer: #ffd0aa;
$tx-color-footer: #aa6c39;

// -----------------------------------
// sol
$bg-color: #ffaf7e;

$bg-color-header: #e16e26;
$tx-color-header: #7c3000;

$bg-color-select: #af4d11;
$tx-color-select: #f79152;

$bg-color-main: #f79152;
$tx-color-main: #af4d11;

$bg-color-aside: #e19826;
$tx-color-aside: #7c4b00;

$bg-color-widget: #af7111;
$tx-color-widget: #ffcc7e;

$bg-color-footer: #78000b;
$tx-color-footer: #f97b87;

// -----------------------------------
// arena
$bg-color: #ffdfaa;

$bg-color-header: #aa7f39;
$tx-color-header: #553500;

$bg-color-select: #805815;
$tx-color-select: #d4ad6a;

$bg-color-main: #d4ad6a;
$tx-color-main: #805815;

$bg-color-aside: #aa9239;
$tx-color-aside: #554300;

$bg-color-widget: #806915;
$tx-color-widget: #ffedaa;

$bg-color-footer: #552100;
$tx-color-footer: #ffcbaa;

// -----------------------------------
// mar
$bg-color: #728ca6;

$bg-color-header: #2a4d6e;
$tx-color-header: #041e37;

$bg-color-select: #133353;
$tx-color-select: #4a6b8a;

$bg-color-main: #4a6b8a;
$tx-color-main: #133353;

$bg-color-aside: #2f4172;
$tx-color-aside: #061439;

$bg-color-widget: #162756;
$tx-color-widget: #7986ac;

$bg-color-footer: #012c34;
$tx-color-footer: #6a959d;
